*,
*::after,
*::before {
	box-sizing: border-box;
}


.demo-6 {

	--color-text: #120047;
	--color-bg: #333;
	--color-link: #110046;
	--color-link-hover: #e83779;
	--color-info: #fff;
	--path-fill-1: url(#gradient1);
	--path-fill-2: url(#gradient2);
	--path-fill-3: url(#gradient3);
	--path-fill-4: url(#gradient4);
	--color-title: inherit;
	--font-weight-title: 400;
	--color-menu: #ffffff;
	--color-menu-hover: #c14343;
	--font-family-menu: var(--font-family-title);
	--font-size-menu: 3.5vmax;
	--font-weight-menu: 400;
	--button-bg: #120047;
	--button-circle:rgba(31, 28, 199, 0.16);
	--button-line: #ffffff;
}

/* Fade effect */
.js body {
	z-index: 99999;
	opacity: 0;
	transition: opacity 0.3s;		
}

.js body.render {
	z-index: 99999;
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */


main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-main-bg);
}

.content {
	z-index: 9;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	pointer-events: none;
}


/* Header */

.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.shape-overlays.is-opened {
	pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
	fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
	fill: var(--path-fill-2);
}

.shape-overlays__path:nth-of-type(3) {
	fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
	fill: var(--path-fill-4);
}

