/* color variables*/
:root {
    --sky: #F1F7FF;
    --pink: #FFEAEA;
    --white: #FBFBFB;
    --blue: #112CFF;
    --shadow:rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    --differentBlue: rgb(61, 110, 151);
    --black: rgb(22,22,22);
    --spec: rgb(137, 146, 221);
    
   
}

/* theme */
h2{
    font-size: 1.5em;
}
span:hover{
    cursor: pointer, auto;
}
a:hover {
    cursor: pointer, auto;
    color: #0FA0CE; }

body { 
    cursor: nw-resize;
    background-color: var(--sky);
}

#cover{
    visibility:visible;
    z-index:9999999999999999999;
    height: 200vh;
    width: 200vw;
    top:-25px;
    left:-25px;
    position: fixed;
    background-color: #F1F7FF;
}

/* ========================================================================== */
/* HERO */
/* ========================================================================== */
/* welcome */
.welcome{
    position: absolute;
    top:448px;
}
.fireplace .fireplace2{
    position: absolute;
    top: 32px;
}
.moveall{
    position: absolute;
    top:448px;
}
/* holes */
.hole{
    position: absolute;
    z-index: 0;
}
/* illustrations */
.line{
        overflow:visible;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 4;
}

#body1{
    visibility: hidden;
}
.body{
    overflow:visible;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 3;
}

/* hole 1 */
.ho1{
    width: 861px; 
    height: 350px;
    top: 544px;
    right: -70px;
    position: absolute
}

.body1{
    right:87px;
    top:232px;
    z-index:98;
}
.line1{
    right:115px;
    top:290px;
    z-index:99;
}

/* hole2 */
.moveho2{
    top: 422px;
    right: 47%;
    position:absolute;
}
.ho2{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}

.body2{
    right:-2px;
    bottom: -1px;
    z-index:88;
  position:absolute;
}

.line2{
    right: 17px;
    bottom: 9px;
    z-index: 89;
    position:absolute;
}

#fig2{
    display: initial;
}

/* hole3 */
.moveho3{
    top: 299px;
    right: 80%;
    position:absolute;
}
.ho3{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}
.body3{
    right: 8px;
    bottom: -1px;
    z-index:58;
  position:absolute;
}
.line3{
    right: 64px;
    bottom: 9px;
    z-index: 59;
    position:absolute;
}
/* hole4 */
.moveho4{
    top: 160px;
    right: 64%;
    position:absolute;
}
.ho4{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}
.body4{
    right:-26px;
    bottom: -52px;
    z-index:48;
  position:absolute;
}
.line4{
    right: -9px;
    bottom: -52px;
    z-index: 49;
    position:absolute;
}
/* hole5 */
.moveho5{
    top: 100px;
    right: 90%;
    position:absolute;
}
.ho5{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}
.handboy{
    right:17px;
    bottom: 14px;
    z-index:38;
  position:absolute;
}
.body5{
    right:-33px;
    bottom: -1px;
    z-index:37;
  position:absolute;
}

.line5{
    right: -17px;
    bottom: 12px;
    z-index: 39;
    position:absolute;
}

/* hole6 */
.moveho6{
    top: 124px;
    right: 40%;
    position:absolute;
}
.ho6{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}
.nomoni{
    right:-107px;
    bottom: -45px;
    z-index:22;
  position:absolute;
}

/* ========================================================================== */
/* BODY */
/* ========================================================================== */


/* projects */


.movebox{
    position: relative;
    top:880px;
    opacity: 0%;
}
.projects{
    display:flex;
    align-items:center;
    position: relative;
    max-height: 324px;
}

.card {
    overflow: visible;
    z-index: 900;
    /* fill: var(--white);
    fill-opacity: 100%;
    box-shadow: -2px 2px 8px var(--shadow);
    border-radius: 50%;
    height: 324px; */
    font-size:1.5rem;
    right:0px;
    padding:1.2em 1.2em 1.2em 0;
    position: relative;
    cursor: pointer, auto;
    pointer-events: auto;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0);
    animation-iteration-count: infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

/* .card::after {
    z-index: 1;
    width: auto;
    min-width: 160px;
    height: auto;
    min-height: 160px;
    content: '';
    position: absolute;
    border-radius: 50%;
    left: calc(22.5%);
    top: calc(22.5%);
    pointer-events: none;
    border: 3.37px solid var(--button-circle);
    -webkit-animation-duration: 5.1s;
    animation-duration: 5.1s;
    -webkit-animation-name: intervalCardBorder;
    animation-name: intervalCardBorder;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 */

 .prince{
     position: relative; 
 }

 .ptitle{
     font-weight: 800;
     font-size: 1.8em;
 }

#nielsen1-a{
    width:100%; 
    height:100%;
}

#addtl-a, #addtl-b, #addtl-c{
    width:100%; 
    height:100%;
}


/* typography */
h3{
    text-align:left;
}

#hey{
    color: var(--blue); 
    font-weight: 900;
}
span{
    color: var(--blue);
}

.spec {
    font-size: .8rem;
    color: var(--spec);
    text-transform: uppercase;
    font-family: "ibm plex sans";
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 48px;

}

.fireplace3{
    font-size: 1 rem;
    color: #e83779;
}
.mailto{
    text-decoration: underline;
    color: #e83779;
}

/* spacing */

@media(max-width:577px){
    .Notorious{
        max-width:88%;
    }
    .ho2, .ho3, .ho4, .ho5, .ho6, .line2, .line3, .line4, .line5, .line6{
        visibility: hidden;
    }
     .dude{
        position: relative;
         top:-200px;
    }
}
@media (min-width:1250px){
    .fireplace2, .fireplace3{
        width: 55%;
        
    }

}
@media (max-width: 1131px) {
    .welcome{
      top: 922px;
      margin-bottom:24px;
      position: relative;
    }
    #nielsen1-a{
        width: 100%;
        height: 100%;
        
    }

}
.space{
    margin-top: 24px;
    margin-bottom: 24px;
}

    .welcome2{margin-bottom: 4px;}
    
    .ptl{
            font-weight: 900;
            font-size: 1em;

    }
    @media (min-width: 750px) {
        .container {
            Margin-top: 64px;   
        }
        .ptl{
            margin-top: 1.6em;
            font-size: 1em;
            margin-bottom: 1.6em;
            clear: both;
    }
}
    @media (max-width: 750px) {
        #pr2{
            border-top:66px;
            border-color: rgba(50,50,93,.1);
            background-color: rgba(50,50,93,.1);
        }
  
.container {
    Margin-top: 32px;   
}
    }

    .princeDiv{
        width: 75vw;
        height:120px;
        position: relative;
    }
    .wiggle{
  animation: wiggle 10s linear infinite running;
  transform: rotate(90deg);
  -webkit-animation: wiggle 10s linear infinite running;
}

@keyframes wiggle {
 0%{
    
    stroke: #5d93d8;




}
  25% {
    
    stroke: #112CFF;
  }
  50%{
    
    stroke: #e83779;




}
  75%{
    
    stroke: #112CFF;
    


}
  100%{
    
    stroke: #5d93d8;




}
    }
/* ========================================================================== */
/* Page Animation */
/* ========================================================================== */

    *,
*::after,
*::before {
	box-sizing: border-box;
}


.demo-6 {

	--color-text: #120047;
	--color-bg: #333;
	--color-link: #110046;
	--color-link-hover: #e83779;
	--color-info: #fff;
	--path-fill-1: url(#gradient1);
	--path-fill-2: url(#gradient2);
	--path-fill-3: url(#gradient3);
	--path-fill-4: url(#gradient4);
	--color-title: inherit;
	--font-weight-title: 400;
	--color-menu: #ffffff;
	--color-menu-hover: #c14343;
	--font-family-menu: var(--font-family-title);
	--font-size-menu: 3.5vmax;
	--font-weight-menu: 400;
	--button-bg: #120047;
	--button-circle:rgba(31, 28, 199, 0.16);
	--button-line: #ffffff;
}

/* Fade effect */
.js body {
	z-index: 999;
	opacity: 0;
	transition: opacity 0.3s;		
}

.js body.render {
	z-index: 999;
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */


main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-main-bg);
}

.content {
	z-index: 999999999;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	pointer-events: none;
}


/* Header */

.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.shape-overlays.is-opened {
	pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
	fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
	fill: var(--path-fill-2);
}

.shape-overlays__path:nth-of-type(3) {
	fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
	fill: var(--path-fill-4);
}

@-webkit-keyframes intervalCardBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

@keyframes intervalCardBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}


/* footer */
.foot::before{
    bottom:-1200px;
}
.foot{
        z-index: 2355;
          position: fixed;
          clear: both;
          right: 3%;
          bottom: 8%;
          padding-left: 9px;
          max-width: 114px;
          background-color: #F1F7FF;
          height:77px;
          padding-right: 4px;
          padding-top: 4px;
}
.foot:hover{
    animation:jello-diagonal-2 .8s both;
    -webkit-animation:jello-diagonal-2 .8s both;
  }
    @-webkit-keyframes jello-diagonal-2{0%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}30%{-webkit-transform:skew(-25deg -25deg);transform:skew(-25deg -25deg)}40%{-webkit-transform:skew(15deg,15deg);transform:skew(15deg,15deg)}50%{-webkit-transform:skew(-15deg,-15deg);transform:skew(-15deg,-15deg)}65%{-webkit-transform:skew(5deg,5deg);transform:skew(5deg,5deg)}75%{-webkit-transform:skew(-5deg,-5deg);transform:skew(-5deg,-5deg)}100%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}}@keyframes jello-diagonal-2{0%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}30%{-webkit-transform:skew(-25deg -25deg);transform:skew(-25deg -25deg)}40%{-webkit-transform:skew(15deg,15deg);transform:skew(15deg,15deg)}50%{-webkit-transform:skew(-15deg,-15deg);transform:skew(-15deg,-15deg)}65%{-webkit-transform:skew(5deg,5deg);transform:skew(5deg,5deg)}75%{-webkit-transform:skew(-5deg,-5deg);transform:skew(-5deg,-5deg)}100%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}}



/* @media(min-width:749px){
    .foot{
    position: absolute;
     clear: both;
     right: 0%;
     top:1100px;;
     max-width: 110px;;
    }
} */


@media(max-width:376px){

    span.mail{
        color: #e83779;
    background-color: #112CFF;
    padding: 2px 6px;
    border-radius: 6px;;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
        }
    .movebox{
        top:975;
    }
     
}

span.mail{
    margin-left: -6px;
    background-color: #112CFF;
    color: #FFF;
    padding: 2px 6px;
    border-radius: 6px;;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}