/* color variables*/
:root {
    --sky: #F1F7FF;
    --pink: #FFEAEA;
    --white: #FBFBFB;
    --blue: #112CFF;
    --shadow:rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    --differentBlue: rgb(61, 110, 151);
    --black: rgb(22,22,22);
    --spec: rgb(137, 146, 221);
    --pink: #e83779;
    
   
}

/* theme */
h2{
    font-size: 1.5em;
}
span:hover{
    cursor: url("/Logo.png"), auto;
}
a:hover {
    cursor: url("../Logo.png");
    color: #0FA0CE; }

body { 
    cursor: pointer;
    background-color: var(--sky);
}

#cover{

    visibility:visible;
    z-index:9999999999999999999;
    height: 200vh;
    width: 200vw;
    top:-25px;
    left:-25px;
    position: fixed;
    background-color: #f1f7ff;
}

#welcome1, #welcome15, #welcome2, #welcome3, #welcome4, #welcome5{
    opacity: 0;
    transition: .6s opacity;
    transition-timing-function: ease-out;
    -webkit-transition: .6s opacity;
    -moz-transition: .6s opacity;
    -ms-transition: .6s opacity;
    -o-transition: .6s opacity;
}

/* ========================================================================== */
/* HERO */
/* ========================================================================== */
/* welcome */
.welcome{
    position: absolute;
    top:448px;
}
.fireplace .fireplace2{
    position: absolute;
    top: 32px;
}
.moveall{
    position: absolute;
    top:448px;
}
/* holes */
.hole{
    position: absolute;
    z-index: 0;
}
/* illustrations */
.line{
        overflow:visible;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 4;
}

#body1{
    visibility: hidden;
}
.body{
    overflow:visible;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 3;
}

/* hole 1 */
.ho1{
    width: 861px; 
    height: 350px;
    top: 544px;
    right: -70px;
    position: absolute
}

.body1{
    right:87px;
    top:232px;
    z-index:98;
}
.line1{
    right:115px;
    top:290px;
    z-index:99;
}


/* hole2 */
.moveho2{
    top: 422px;
    right: 47%;
    position:absolute;
}
.ho2, .ho2ho{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}

.ho2ho{
    z-index:9999
}

.body2{
    right:-2px;
    bottom: -1px;
    z-index:88;
  position:absolute;
}

.line2{
    right: 17px;
    bottom: 9px;
    z-index: 89;
    position:absolute;
}

#fig2{
    display: initial;
}

/* hole3 */
.moveho3{
    top: 299px;
    right: 80%;
    position:absolute;
}
.ho3, .ho3ho{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}
.ho3ho{
    z-index:9999
}
.body3{
    right: 8px;
    bottom: -1px;
    z-index:58;
  position:absolute;
}
.line3{
    right: 64px;
    bottom: 9px;
    z-index: 59;
    position:absolute;
}
/* hole4 */
.moveho4{
    top: 160px;
    right: 64%;
    position:absolute;
}
.ho4, .ho4ho{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}
.ho4ho{
    z-index:99999;
}

.body4{
    right:-26px;
    bottom: -52px;
    z-index:48;
  position:absolute;
}
.line4{
    right: -9px;
    bottom: -52px;
    z-index: 49;
    position:absolute;
}
/* hole5 */
.moveho5{
    top: 100px;
    right: 90%;
    position:absolute;
}
.ho5{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}
.handboy{
    right:17px;
    bottom: 14px;
    z-index:38;
  position:absolute;
}
.body5{
    right:-33px;
    bottom: -1px;
    z-index:37;
  position:absolute;
}

.line5{
    right: -17px;
    bottom: 12px;
    z-index: 39;
    position:absolute;
}

/* hole6 */
.moveho6{
    top: 124px;
    right: 40%;
    position:absolute;
}
.ho6, .ho6ho{
    width: auto;
    height: auto;
    right:-16px;
    bottom: 0px;
    position:absolute;
}

.ho6ho{
    z-index:99393;
}

.nomoni{
    right:-107px;
    bottom: -45px;
    z-index:22;
  position:absolute;
}

/* ========================================================================== */
/* BODY */
/* ========================================================================== */


/* projects */


.movebox{
    position: relative;
    top:880px;
    opacity: 0%;
}
.projects{
    display:flex;
    align-items:center;
    position: relative;
    max-height: 324px;
}

.card {
    overflow: visible;
    z-index: 900;
    /* fill: var(--white);
    fill-opacity: 100%;
    box-shadow: -2px 2px 8px var(--shadow);
    border-radius: 50%;
    height: 324px; */
    font-size:1.5rem;
    right:0px;
    padding:1.2em 1.2em 1.2em 0;
    position: relative;
    
    pointer-events: auto;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0);
    animation-iteration-count: infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

/* .card::after {
    z-index: 1;
    width: auto;
    min-width: 160px;
    height: auto;
    min-height: 160px;
    content: '';
    position: absolute;
    border-radius: 50%;
    left: calc(22.5%);
    top: calc(22.5%);
    pointer-events: none;
    border: 3.37px solid var(--button-circle);
    -webkit-animation-duration: 5.1s;
    animation-duration: 5.1s;
    -webkit-animation-name: intervalCardBorder;
    animation-name: intervalCardBorder;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 */

 .prince{
     position: relative; 
 }

 .ptitle{
     font-weight: 800;
     font-size: 1.8em;
 }

.nielsen1-a{
    width:100%; 
    height:auto;
}

#addtl-a, #addtl-b, #addtl-c{
    width:100%; 
    height:100%;
}


/* typography */
p{
    font-size:1.7rem;
  line-height:2.8rem;
}

.q{
    line-height:3.2rem;
    font-size:2.2rem;
    font-weight:900;
    color: white;
    background-color: var(--pink);
    padding: .8em;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

h3{

    text-align:left;
}

span.h5{
    color: var(--pink);
}

b{
    font-weight:500;
}

.egg:hover{
    cursor: url('bun.svg'), auto;
}

.prince{
    z-index: 9998;
}
.prince:hover{
 color: #112CFF;
 transition:.3s ease-in;
 -webkit-transition:.3s ease-in;
 -moz-transition:.3s ease-in;
 -ms-transition:.3s ease-in;
 -o-transition:.3s ease-in;
}


#hey{
    color: var(--blue); 
    font-weight: 900;
}
span{
    cursor: pointer;
    background: #f1f7ff;
    background-color: #F1F7FF;
    color: var(--blue);
}


#welcome15{
    color: var(--black);
}

.spec {
    font-size: .8rem;
    color: var(--spec);
    text-transform: uppercase;
    font-family: "ibm plex sans";
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 48px;

}

.fireplace3{
    font-size: 1 rem;
    color: #e83779;
}
.mailto{
    text-decoration: underline;
    color: #e83779;
}

/* spacing */

@media(max-width:577px){
    .Notorious{
        max-width:88%;
    }
    .ho2, .ho3, .ho4, .ho5, .ho6, .line2, .line3, .line4, .line5, .line6{
        visibility: hidden;
    }
    .allhero{
         position: relative;
         top:-44px;
         right:-60px;
         transform:scale(.65);
         -webkit-transform:scale(.65);
         -moz-transform:scale(.65);
         -ms-transform:scale(.65);
         -o-transform:scale(.65);
}
    #welcome5{
             padding-top:69px;
    }
    .welcome{
        top: 522px;
    }

    #welcome1{
        top: -522px;
        position: absolute;
    }
    .movebox{
        top:522px;
    }
 
}
@media (min-width:1250px){
    .fireplace2, .fireplace3{
        width: 55%;
        
    }

}
@media (max-width: 1131px) {
    .welcome{
      top: 922px;
      margin-bottom:24px;
      position: relative;
    }
    .nielsen1-a{
        width: 100%;
        height: auto;
        
    }

}
.space{
    margin-top: 24px;
    margin-bottom: 24px;
}
.space2{
    margin-top: 48px;
    margin-bottom: 48px;
}

    .welcome2{margin-bottom: 4px;}
    
    .ptl{
            font-weight: 900;
            font-size: 1em;

    }
    @media (min-width: 750px) {
        .container {
            Margin-top: 64px;   
        }
        .ptl{
            margin-top: 1.6em;
            font-size: 1em;
            margin-bottom: 1.6em;
            clear: both;
    }
}
    @media (max-width: 750px) {
        #pr2{
            border-top:66px;
            border-color: rgba(50,50,93,.1);
            background-color: rgba(50,50,93,.1);
        }
  
.container {
    Margin-top: 32px;   
}
    }

    .princeDiv{
        width: 75vw;
        height:120px;
        position: relative;
    }
    .wiggle{
  animation: wiggle 10s linear infinite running;
  transform: rotate(90deg);
  -webkit-animation: wiggle 10s linear infinite running;
}

@keyframes wiggle {
 0%{
    
    stroke: #5d93d8;




}
  25% {
    
    stroke: #112CFF;
  }
  50%{
    
    stroke: #e83779;




}
  75%{
    
    stroke: #112CFF;
    


}
  100%{
    
    stroke: #5d93d8;




}
    }
/* ========================================================================== */
/* Page Animation */
/* ========================================================================== */

    *,
*::after,
*::before {
	box-sizing: border-box;
}


.demo-6 {

	--color-text: #120047;
	--color-bg: #333;
	--color-link: #110046;
	--color-link-hover: #e83779;
	--color-info: #fff;
	--path-fill-1: url(#gradient1);
	--path-fill-2: url(#gradient2);
	--path-fill-3: url(#gradient3);
	--path-fill-4: url(#gradient4);
	--color-title: inherit;
	--font-weight-title: 400;
	--color-menu: #ffffff;
	--color-menu-hover: #c14343;
	--font-family-menu: var(--font-family-title);
	--font-size-menu: 3.5vmax;
	--font-weight-menu: 400;
	--button-bg: #120047;
	--button-circle:rgba(31, 28, 199, 0.16);
	--button-line: #ffffff;
}

/* Fade effect */
.js body {
	z-index: 999;
	opacity: 0;
	transition: opacity 0.3s;		
}

.js body.render {
	z-index: 999;
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */


main {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-main-bg);
}

.content {
	z-index: 999999999;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	pointer-events: none;
}


/* Header */

.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.shape-overlays.is-opened {
	pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
	fill: var(--path-fill-1);
}

.shape-overlays__path:nth-of-type(2) {
	fill: var(--path-fill-2);
}

.shape-overlays__path:nth-of-type(3) {
	fill: var(--path-fill-3);
}

.shape-overlays__path:nth-of-type(4) {
	fill: var(--path-fill-4);
}

@-webkit-keyframes intervalCardBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

@keyframes intervalCardBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}


/* footer */
.foot::before{
    bottom:-1200px;
}
.foot{
          cursor: pointer;
          z-index: 2355;
          position: fixed;
          clear: both;
          right: 3%;
          bottom: 8%;
          padding-left: 9px;
          max-width: 114px;
          background-color: #F1F7FF;
          height:77px;
          padding-right: 4px;
          padding-top:4px;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
}
.foot:hover{
    animation:jello-diagonal-2 .8s both;
    -webkit-animation:jello-diagonal-2 .8s both;
  }
    @-webkit-keyframes jello-diagonal-2{0%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}30%{-webkit-transform:skew(-25deg -25deg);transform:skew(-25deg -25deg)}40%{-webkit-transform:skew(15deg,15deg);transform:skew(15deg,15deg)}50%{-webkit-transform:skew(-15deg,-15deg);transform:skew(-15deg,-15deg)}65%{-webkit-transform:skew(5deg,5deg);transform:skew(5deg,5deg)}75%{-webkit-transform:skew(-5deg,-5deg);transform:skew(-5deg,-5deg)}100%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}}@keyframes jello-diagonal-2{0%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}30%{-webkit-transform:skew(-25deg -25deg);transform:skew(-25deg -25deg)}40%{-webkit-transform:skew(15deg,15deg);transform:skew(15deg,15deg)}50%{-webkit-transform:skew(-15deg,-15deg);transform:skew(-15deg,-15deg)}65%{-webkit-transform:skew(5deg,5deg);transform:skew(5deg,5deg)}75%{-webkit-transform:skew(-5deg,-5deg);transform:skew(-5deg,-5deg)}100%{-webkit-transform:skew(0deg 0deg);transform:skew(0deg 0deg)}}



/* @media(min-width:749px){
    .foot{
    position: absolute;
     clear: both;
     right: 0%;
     top:1100px;;
     max-width: 110px;;
    }
} */


@media(max-width:376px){

    span.mail{
        cursor: pointer;
        color: #e83779;
    background-color: #112CFF;
    padding: 2px 6px;
    border-radius: 6px;;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
        }
    .movebox{
        top:975;
    }
     
}

label.mail{
    cursor: pointer;
    margin-left: -6px;
    background-color: #112CFF;
    color: #FFF;
    padding: 2px 6px;
    border-radius: 6px;;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
label.mail:hover{
    cursor: pointer;
    margin-left: -6px;
    background-color: #e83779;
    color: #FFF;
    padding: 2px 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}



/* hole pop */


.ho6{
    animation: blobert 2600ms linear both;
    -webkit-animation: blobert 2600ms linear both;
} 
.ho5{
    animation: blobert 2900ms linear both;
    -webkit-animation: blobert 2900ms linear both;
} 
.ho4{
    animation: blobert 3200ms linear both;
    -webkit-animation: blobert 3200ms linear both;
} 
.ho3{
    animation: blobert 3500ms linear both;
    -webkit-animation: blobert 3500ms linear both;
} 
.ho2{
    animation: blobert 3800ms linear both;
    -webkit-animation: blobert 3800ms linear both;
} 
.ho1{
    animation: blobert 4100ms linear both;
    -webkit-animation: blobert 4100ms linear both;
} 
/* https://goo.gl/7PnkLv */
  @keyframes blobert { 
    0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -moz-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -ms-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -o-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
    28.47% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -moz-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -ms-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); -o-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0); }
    28.57% { transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.1, 0, 0, 0, 0, 0.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    31% { transform: matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.384, 0, 0, 0, 0, 0.466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    31.93% { transform: matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.505, 0, 0, 0, 0, 0.639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.43% { transform: matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.693, 0, 0, 0, 0, 0.904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.29% { transform: matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.86% { transform: matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    38.3% { transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    38.65% { transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.08% { transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.94% { transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    43.8% { transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    45.95% { transform: matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.135, 0, 0, 0, 0, 0.964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    46.59% { transform: matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.121, 0, 0, 0, 0, 0.944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    49.31% { transform: matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.057, 0, 0, 0, 0, 0.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    49.95% { transform: matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.043, 0, 0, 0, 0, 0.909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    53.95% { transform: matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.981, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    54.81% { transform: matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.974, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    57.89% { transform: matrix3d(0.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    60.32% { transform: matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    65.82% { transform: matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    71.33% { transform: matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.005, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    73.76% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.007, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    82.34% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    89.63% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    93.35% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  span.hey:hover{
    cursor: url('logo.svg'), auto;
    background: #f1f7ff;
    background-color: #F1F7FF;
}
#coffee:hover{
    cursor: url('covfe.svg'), auto;
    background: #f1f7ff;
    background-color: #F1F7FF;
}
.card:hover{
    cursor: url('wow.svg'), auto;
    background: #f1f7ff;
    background-color: #F1F7FF;
}

@media(max-width:577px){
.welcome{
    top: 522px;
}
}